[workspace]
authors = ["AroneyS <samuel.aroney@qut.edu.au>"]
channels = ["conda-forge", "bioconda", "rpetit3"]
name = "binchicken"
platforms = ["linux-64"]

[feature.main.dependencies]
python = "3.10.*"
snakemake = "7.32.*"
mamba = "1.4.*"
networkx = "==3.1"
bird_tool_utils_python = ">=0.5.1"
extern = "0.4.*"
"ruamel.yaml" = ">=0.15.99"
polars = "1.36.*"
pigz = "2.3.*"
pyarrow = "12.0.*"
parallel = "==20230522"
sourmash = "4.8.*"
sourmash_plugin_branchwater = "0.9.*"
# see https://github.com/pyca/cryptography/issues/7959#issuecomment-1368711852
pyopenssl = ">22.1.0"
pixi = "*"
pip = "*"

[feature.main.tasks]
postinstall = "python -m pip install --no-build-isolation --no-deps --disable-pip-version-check -e .."
build_dep_defs = { cmd = "python ../admin/build_dep_defs_from_pixi.py", depends-on = ["postinstall"] }

[feature.dev.dependencies]
pytest = "*"
ipython = "*"
toml = "*"
pandoc = "*"

[feature.dev.tasks.pytest]
depends-on = ["postinstall"]
cwd = ".."
cmd = "python -m pytest"

[feature.dev.tasks.run-tests]
depends-on = ["postinstall"]
cwd = ".."
cmd = "python -m pytest test"

[feature.dev.tasks.run-a-test]
args = ["test_name"]
depends-on = ["postinstall"]
cwd = ".."
cmd = "python -m pytest test --run-expensive -k {{ test_name }}"

[environments]
default = ["main"]
dev = ["dev", "main"]
general = ["general"]
aviary = ["aviary"]
coverm = ["coverm"]
fastp = ["fastp"]
kingfisher = ["kingfisher"]
prodigal = ["prodigal"]
r = ["r"]
singlem = ["singlem"]

[feature.general.dependencies]
parallel = "==20230522"

[feature.aviary.dependencies]
python = ">=3.8,<=3.11"
snakemake = ">=7.0.0,<=7.32.3"
"ruamel.yaml" = "==0.18.11"
numpy = "==2.2.6"
pandas = "*"
biopython = "*"
conda = "==25.1.1"
pigz = ">=2.6"
parallel = "*"
extern = "*"
pyopenssl = "==25.1.0"
pixi = "*"

[feature.aviary.pypi-dependencies]
"aviary-genome" = { git = "https://github.com/rhysnewell/aviary.git", rev = "544fe3fd4967cded7b519dbf0557d78deba4c025" }

[feature.coverm.dependencies]
coverm = "0.6.*"

[feature.fastp.dependencies]
fastp = "0.23.*"

[feature.kingfisher.dependencies]
kingfisher = "0.3.*"
"aspera-connect" = "*"

[feature.prodigal.dependencies]
prodigal = "2.6.*"

[feature.r.dependencies]
python = ">=3.10"
r-base = "==4.1.3"
r-essentials = "*"
r-tidyverse = "==1.3.1"
r-cowplot = "*"
r-gt = "<=0.6.0"
r-webshot = "<=0.5.4"
r-optparse = "*"

[feature.singlem.dependencies]
singlem = "0.20.*"
