[workspace]
authors = ["AroneyS <samuel.aroney@qut.edu.au>"]
channels = ["conda-forge", "bioconda", "rpetit3"]
name = "binchicken"
platforms = ["linux-64"]

[activation]
# Sets metapackage environment variables, which are assumed to be in the db/ of
# the base directory (perhaps symlnked).
scripts = ["set_env_vars.sh"]

[feature.main.dependencies]
python = "3.10.*"
snakemake = "7.32.*"
mamba = "1.4.*"
networkx = "==3.1"
bird_tool_utils_python = "0.4.*"
extern = "0.4.*"
"ruamel.yaml" = ">=0.15.99"
polars = "1.26.*"
pigz = "2.3.*"
pyarrow = "12.0.*"
parallel = "==20230522"
sourmash = "4.8.*"
sourmash_plugin_branchwater = "0.9.*"
# see https://github.com/pyca/cryptography/issues/7959#issuecomment-1368711852
pyopenssl = ">22.1.0"
pixi = "*"
pip = "*"

[feature.main.tasks]
postinstall = "pip install --no-build-isolation --no-deps --disable-pip-version-check -e .."
build_dep_defs = { cmd = "python ../admin/build_dep_defs_from_pixi.py", depends-on = ["postinstall"] }

[feature.dev.dependencies]
pytest = "*"
ipython = "*"
toml = "*"
pandoc = "*"

[environments]
default = ["main"]
dev = ["dev", "main"]
general = ["general"]
aviary = ["aviary"]
coverm = ["coverm"]
fastp = ["fastp"]
kingfisher = ["kingfisher"]
prodigal = ["prodigal"]
r = ["r"]
singlem = ["singlem"]

[feature.general.dependencies]
parallel = "==20230522"

[feature.aviary.dependencies]
python = ">=3.8,<=3.11"
snakemake = ">=7.0.0,<=7.32.3"
"ruamel.yaml" = "==0.18.11"
numpy = "==2.2.6"
pandas = "*"
biopython = "*"
conda = "==25.1.1"
pigz = ">=2.6"
parallel = "*"
extern = "*"
pyopenssl = "==25.1.0"
pixi = "*"

[feature.aviary.pypi-dependencies]
"aviary-genome" = { git = "https://github.com/rhysnewell/aviary.git", rev = "09131a400c0aa9dc99f2937611dd3dd5de48144b" }

[feature.coverm.dependencies]
coverm = "0.6.*"

[feature.fastp.dependencies]
fastp = "0.23.*"

[feature.kingfisher.dependencies]
kingfisher = "0.3.*"
"aspera-connect" = "*"

[feature.prodigal.dependencies]
prodigal = "2.6.*"

[feature.r.dependencies]
python = ">=3.10"
r-base = "==4.1.3"
r-essentials = "*"
r-tidyverse = "==1.3.1"
r-cowplot = "*"
r-gt = "<=0.6.0"
r-webshot = "<=0.5.4"
r-optparse = "*"

[feature.singlem.dependencies]
biopython = "==1.85"
bird_tool_utils_python = "==0.4.1"
cd-hit = "==4.8.1"
diamond = "==2.1.10"
expressbetadiversity = "==1.0.10"
extern = "==0.4.1"
fastalite = "==0.4.1"
fasttree = "==2.1.11"
galah = "==0.4.2"
graftm = "==0.15.1"
gtdbtk = "==2.4.1"
hmmer = "==3.2.1"
jinja2 = "==3.1.6"
krona = "==2.8.1"
mafft = "==7.526"
mfqe = "==0.5.0"
ncbi-ngs-sdk = "==3.0.1"
orfm = "==1.3"
pandas = "==2.2.3"
pip = "==25.0.1"
polars = "==1.27.1"
pplacer = "==1.1.alpha19"
prodigal = "==2.6.3"
pyarrow = "==16.1.0"
pyranges = "==0.1.4"
python = "==3.12.3"
seqmagick = "==0.8.6"
smafa = "==0.8.0"
sqlalchemy = "==2.0.40"
sqlite = "==3.46.0"
sqlparse = "==0.5.3"
squarify = "==0.4.3"
sra-tools = "==2.9.6"
tqdm = "==4.67.1"
zenodo_backpack = "==0.3.1"
git = "*"

[feature.singlem.pypi-dependencies]
singlem = { git = "https://github.com/AroneyS/singlem.git", rev = "8d5a9767f6b2a97f4d624ec812cf425feb5951ab" }
