name: Test Bin Chicken
on: [push, pull_request]

jobs:
  pixi_test_dependencies_locked:
    name: Pixi test_dependencies_locked ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    steps:
      - uses: actions/checkout@v4

      - name: Install Pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | bash
          echo "$HOME/.pixi/bin" >> $GITHUB_PATH

      - name: Prepare pixi folder
        run: |
          pwd
          echo "Contents of current directory:"
          ls -la
          mkdir -p binchicken/.pixi
          echo "Contents of binchicken directory:"
          ls -la binchicken

      # Needed due to pixi run -e default breaking for import binchicken
      - name: Create default environment
        run: |
          pixi run postinstall
          pixi run pixi info
          pixi run binchicken -h

      - name: Create dev environment
        run: |
          pixi run -e dev postinstall
          pixi run -e dev pixi info

      - name: Show environment info
        run: |
          pixi run -e dev pixi list

      - name: Run tests with Pixi
        run: |
          pixi run -e dev binchicken -h
          pixi run -e dev pytest -v

  # Run after removing lock file so dependences are unlocked
  pixi_test_dependencies_optimistic:
    name: Pixi test_dependencies_optimistic ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    steps:
      - uses: actions/checkout@v4

      - name: Install Pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | bash
          echo "$HOME/.pixi/bin" >> $GITHUB_PATH

      - name: Prepare pixi folder
        run: |
          pwd
          echo "Contents of current directory:"
          ls -la
          mkdir -p binchicken/.pixi
          echo "Contents of binchicken directory:"
          ls -la binchicken

      - name: Remove lock file
        run: |
          rm -fv pixi.lock admin/requirements.txt
          touch admin/requirements.txt

      # Needed due to pixi run -e default breaking for import binchicken
      - name: Create default environment
        run: |
          pixi run postinstall
          pixi run pixi info
          pixi run binchicken -h

      - name: Create dev environment
        run: |
          pixi run -e dev postinstall
          pixi run -e dev pixi info

      - name: Show environment info
        run: |
          pixi run -e dev pixi list

      - name: Run tests with Pixi
        run: |
          pixi run -e dev binchicken -h
          pixi run -e dev pytest -v
